Project - NYSE- Mandatory Project at Masterschool for the Spreadsheets Sprint. 


LINK to the google sheets file for the P&L Dashboard, Financial Model and Statistical Calculations - 
https://docs.google.com/spreadsheets/d/1ZEL6_QLH0LMOqZuMfG19YWvWOc0MtbG6Fb5FejJ_45U/edit?usp=share_link
